{% extends "nav.html" %}

{% block content %}
    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </header>
    <h2>Register User</h2>

    <!-- FORM TO ADD USER -->
    <form action="{{ url_for('home') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <button type="submit">Submit</button>
    </form>

    <hr>

    <h3>Stored Users</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
