<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Link to nav.css inside static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
</head>
<body>
    <nav id="topnav">
        <a href="{{ url_for('home') }}">Home Page</a>
        <a href="{{ url_for('friends') }}">Friends Page</a>
        <a href="{{url_for('about')}}">About Me</a>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
